@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

/*estilos nav index*/

.navbar-header{
    justify-content: left;
    image-orientation: left;
    margin: 10px;
    padding: 15px;
    width: 15%;
}

h1{
    font-size: 40px;
    font-style: oblique;
}

#naveg{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(231, 219, 46);
    color: black;
}

#lista{
    padding: 5px;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

#chinchin{
    margin: 10px;
    padding: 15px;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

.swal2-styled.swal2-confirm{
    background-color:rgb(231, 219, 46);
}

/*estilos body*/

h2{
    padding: auto;
    image-orientation: left;
    margin: 25px;
}

.card{
    color: black;
}

.shop{
    padding: auto;
    image-orientation: left;
    margin: 5px;
}

#total{
    padding: auto;
    image-orientation: left;
    margin: 15px;
}

#tablabody{
    background-color: rgb(231, 219, 46);
}

/*estilo boton dark light*/

.botoncentro{
    padding:5px;
    margin:5px;
    display: flex;
    justify-content: center;
}

#secundario{
    padding: 2px;
    margin: 2px;
}


/*estilos footer index*/

footer {
    text-align: center;
    background-color: rgb(231, 219, 46);
    font-size: 40px;
    padding: 20px;
    width: 100%;
}

footer p {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

footer .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer footer i {
    letter-spacing: 20px;
}

footer html {
    scroll-behavior: smooth;
}

footer .redes i {
    color: black;
    letter-spacing: 10px;
    padding: 15px;
    margin-top: 5px;
}

footer .redes i:hover {
    color: white;
}

/*footer p::selection {
    color: rgb(218, 45, 73);
    background-color: black;
}*/

footer .subir-container {
    position: fixed;
    bottom: 40px;
    right: 10px;
}

footer .subir {
    height: 50px;
    color: rgb(245, 238, 238);
    width: 50px;
    line-height: 70px;
    border: 4px solid rgb(252, 251, 251);
    display: flex;
    background-color: black;
    border-radius: 60%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}